.book__details {
  margin: 10px 0;
  display: flex;
}

.book__details .image {
  width: 30%;
}

.book__details .image img {
  width: 100%;
}

.book__details .description {
  width: 70%;
  margin-left: 20px;
}
.book__details .description .title {
  font-size: 2rem;
  font-weight: bold;
}

.book__details .description .auth {
  font-weight: bold;
}
.book__details .description .price {
  font-size: 1.5rem;
  font-weight: bold;
}

.spinner-border {
  width: 100px;
  height: 100px;
}
